body { background: #FFFFCC; }

#page-wrap:after { content: "Wide Layout"; color: #0000e6; }

#n1      { float: left; width: 15%; height: 200px; }
nav span { margin: 0px 100px 0px 0px; }
section { float: right: width: 80%; height: 200px; }
footer { clear: both; display: block; }
#photocas {
  display: inline;
  /* margin-left: 120px; */
  margin-right: 80px; /*  padding: 20px; */
}

#videochimp, #linkcas {
  display: block;
  margin-right: 120px; /*  padding: 20px; */
}