<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Quiz: El juego de las preguntas</h2>
    <div id="res"><p><%= respuesta %></p></div>
    <a href="/quizes/question"> Nueva pregunta </a>
  </body>
</html>