<form method="get" action="/quizes/answer">
  Pregunta: <%- pregunta %><p>
  <input type="text" class="textbox" name="respuesta" value="Respuesta" />
  <input type="submit" class="button" value="Enviar" />
</form>